@font-face {
  font-family: 'Spa-Icon-Set';
  src:
    url('fonts/Spa-Icon-Set.ttf?ns74wv') format('truetype'),
    url('fonts/Spa-Icon-Set.woff?ns74wv') format('woff'),
    url('fonts/Spa-Icon-Set.svg?ns74wv#Spa-Icon-Set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-spa-"], [class*=" icon-spa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Spa-Icon-Set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spa-angle-right-solid:before {
  content: "\e900";
}
.icon-spa-bookmark-solid:before {
  content: "\e901";
}
.icon-spa-envira-brands:before {
  content: "\e902";
}
.icon-spa-heart-solid:before {
  content: "\e903";
}
.icon-spa-home-solid:before {
  content: "\e904";
}
.icon-spa-hot-tub-solid:before {
  content: "\e905";
}
.icon-spa-male-solid:before {
  content: "\e906";
}
.icon-spa-moon-solid:before {
  content: "\e907";
}
.icon-spa-pagelines-brands:before {
  content: "\e908";
}
.icon-spa-plus-solid:before {
  content: "\e909";
}
.icon-spa-sign-language-solid:before {
  content: "\e90a";
}
.icon-spa-smile-solid:before {
  content: "\e90b";
}
.icon-spa-snowflake-solid:before {
  content: "\e90c";
}
.icon-spa-bars-solid:before {
  content: "\e90d";
}
.icon-spa-times-solid:before {
  content: "\e90e";
}
